.body {
}



.cuadroB {
    background-color: rgb(158,131,106);
    height: 80px;
    width: 80px;
    border: double;
}

.cafe {
    background-color: rgb(129,75,27);
    height: 80px;
    width: 80px;
    border: 1px solid black;
}
.flotar {
    float: left;
}
